<!DOCTYPE html>
<html ng-app="marketex">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
    @Styles.Render("~/Content/themes/base/jquery.ui.dialog.css")
    @Styles.Render("http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.min.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
