@using SignalRMarketEx.Models
@model List<ItemEntity>
@{
    ViewBag.Title = "Market Exchange";
}
 @section scripts
    {
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Scripts/jquery.signalR-1.0.0.min.js"></script>
        <script src="~/Scripts/knockout-2.2.0.js"></script>
        <script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/Scripts/marketexchange.js"></script>
        <script type="text/javascript">
            $(function () {
                function Item(data) {
                    this.itemId = ko.observable(data.itemId);
                    this.product = ko.observable(data.product);
                    this.description = ko.observable(data.description);
                    this.bid = ko.observable(data.bid);
                    this.ask = ko.observable(data.ask);
                    this.lastPrice = ko.observable(data.lastPrice);
                    this.bidPrice = ko.observable(data.bidPrice);
                }
                var itemsModel = function ItemListViewModel() {
                    var self = this;
                    self.items = ko.observableArray([]);
                    @foreach(var itm in Model)
                    {
                        @Html.Raw("self.items.push(new Item({")
                        @Html.Raw("itemId: 'itm_" + itm.Id + "',")
                        @Html.Raw("product: '"+ itm.Product +"',")
                        @Html.Raw("description: '"+itm.Description+"',")
                        @Html.Raw("bid: "+(!itm.Bid.HasValue?"0" : itm.Bid.Value.ToString())+",")
                        @Html.Raw("ask: "+(!itm.Ask.HasValue?"0":itm.Ask.Value.ToString())+",")
                        @Html.Raw("lastPrice: "+(!itm.LastPrice.HasValue?"0":itm.LastPrice.Value.ToString())+",")
                        @Html.Raw("bidPrice: \"\"")
                        @Html.Raw("}));")
                    }
                    //Operations
                    self.updateItems = function (data) {
                        self.items.push(new Item({
                            itemId: 'itm_' + data.itemId,
                            product: data.product,
                            description: data.description,
                            bid: data.bid,
                            ask: data.ask,
                            lastPrice: data.lastPrice,
                            bidPrice: ""
                        }));
                    };
                    self.bidItem = function () {

                    };
                }
                ko.applyBindings(itemsModel());
                //SignalR bindings
                var hub = $.connection.marketExchangeHub;
                $.connection.hub.start();
                hub.client.updateItems = function (data) {
                    updateItems(data);
                    $('#itm_' + data.itemId).animate({ "background-color": "red" }, 1000).delay(200).animate({ "background-color": "white" }, 1000);
                };
            });
        </script>
    }
<div id="wrapper">
    <button id="btnShowAdd">Add An Item</button>
    <table id="tblMarket">
        <thead>
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Description
                </th>
                <th>
                    Bid
                </th>
                <th>
                    Ask
                </th>
                <th>
                    Last Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           <!--ko foreach: items -->
                <tr data-bind="attr: {id:itemId}">
                    <td>
                        <span data-bind="text: product"></span>
                    </td>
                    <td>
                        <span data-bind="text: description"></span>
                    </td>
                    <td>
                        <span class="bid" data-bind="text: bid"></span>
                    </td>
                    <td>
                        <span class="ask" data-bind="text: ask"></span>
                    </td>
                    <td>
                        <span data-bind="text: lastPrice"></span>
                    </td>
                    <td>
                        <input name="biddingPrice" style="width:50px;" data-bind="value: bidPrice" />
                        <a href="#" name="bid" data-bind="value: bid">Bid</a>
                    </td>
                </tr>
            <!-- /ko -->
        </tbody>
    </table>
    <div title="Add A Product" id="divAddItemModal">
        @using (Ajax.BeginForm("ItemEntry", "Home", new AjaxOptions { OnSuccess = "UpdateItemSuccess", OnFailure = "UpdateItemFailure" }))
        {
            @Html.Partial("_ItemEntry", new ItemEntity())
            <button type="submit" >Add</button>
        }
    </div>
</div>
